* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "Hind", sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    min-height: 100vh;
}

body {
    background: #fff;
    color: #222;
    -webkit-font-smoothing: antialiased !important;
}

body,
input,
button {
    color: #222;
    font-size: 14px;
    font-family: "Hind", Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

input,
textarea,
button,
select,
a {
    outline: none;
    box-shadow: none;
    text-decoration: none !important;
    color: #222;
}

.vertical-bar {
    min-height: 100vh;
    background: #000;
    position: fixed;
}

main {
    padding-top: 60px;
    /*mudar*/
    margin-left: 80px;
    /*mudar*/
}

#custom-h4 {
    font-weight: bolder;
    text-shadow: 0.1em 0.1em #000;
}

.social-icons {
    padding-top: 2.5vh !important;
    height: 34vh !important;
}

.icon-social {
    font-size: 25px !important;
}