* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #000 !important;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
    font-weight: 50;
    margin: 1rem 0 3rem;
    text-align: center;
    color: #fff;
    font-family: "Hind", sans-serif;
}

h2 {
    color: #fff;
    font-family: "Hind", sans-serif;
    text-align: center;
}

.styling {
    font-weight: 800;
    color: rgb(194, 26, 11);
    text-transform: uppercase;
}

.input_div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input_div .input {
    padding: 0.5 rem 1 rem;
    height: 50px;
    /*mudar*/
    outline: none;
    border: none;
    background-color: #fff;
    width: 350px;
    /*mudar*/
    margin: 0.25rem;
    border-radius: 25px;
    font-size: 1.15rem;
    transition: 0.5s;
    text-align: center;
}

.input_busca {
    border-radius: 0 25px 25px 0 !important;
    margin-left: 0 !important;
}

.input_div .ingredientes_receitas {
    height: 50px;
    background-color: #fff;
    margin-right: 0 !important;
    border: none;
    border-radius: 25px 0 0 25px;
    border-right: 1px solid rgb(196, 194, 194);
    padding-left: 1.5%;
    padding-right: 0.5%;
}

.addButton {
    height: 50px;
    /*mudar*/
    width: 50px;
    /*mudar*/
    border-radius: 25px;
    outline: none;
    border: none;
    color: #fff;
    margin: 0.25rem;
    background-color: #158046;
    cursor: pointer;
}

.addbutton:hover {
    opacity: 0.7;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.item {
    padding: 0rrem;
    margin-bottom: 1.5rem;
    border-bottom: 4px solid #fff;
}

.item_input {
    background: none;
    outline: none;
    color: #fff;
    border: none;
    width: 350px;
    /*mudar*/
    font-size: 1.4rem;
}

.removeButton {
    height: 25px;
    /*mudar*/
    width: 25px;
    /*mudar*/
    border-radius: 25px;
    outline: none;
    border: none;
    color: #fff;
    margin: 0.25rem;
    background-color: #CE2421;
    cursor: pointer;
}

.btnbusca {
    padding: 10px 20px;
    /*mudar*/
    border: 0;
    background: rgb(194, 26, 11);
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 25px;
    color: #fff;
}