/* Body, nav, form-base */
h1 {
    font-size: 1.5em;
}

#create-receipe{
    background: #101010;
}

#create-receipe-nav {
    margin-left: 12vw;
}

#create-receipe-form {
    margin-left: 10vw;
    max-width: 800px;
}

#create-receipe-form label, input, textarea {
    margin: 0 !important;
    color: #FFFFFF;
}

#create-receipe-form h1 {
    font-weight: bold;
}

p {
    margin-top: 1em;
    font-size: 0.8em;
    color: #FFFFFF;
}

#alert {
    color: rgb(194, 26, 11);
}

/* Arrows which indicates the steps of the form */
.form-step-box {
    margin-left: 2em;
}

.form-step {
    margin-left: 0.5em;
    font-size: 4em;
    font-weight: bold;
    color: rgb(122, 121, 121);
}

.form-step.active {
    color: #FFFFFF;
  }

/* Tab pages */

.tab {
    display: none;
}

.tab p {
    margin-top: 2em;
}

.first-tab{
    display: block;
}

#create-receipe-form h2 {
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1em;
}

.input-box {
    margin-top: 2em;
    position: relative;
    display: flex;
}

.input-image input {
    margin-top: 1em;
    font-size: 0.8em;
    background-color: transparent !important;
}

.input-form {
    display: flex;
    flex-direction: column;
}

.receipe-time {
    margin-right: 1em;
}

label {
    font-size: 0.8em;
}

.input-form input {
    width: 20vw;
    height: 5vh;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 0.1em solid #FFFFFF;
    text-align: left;
}

#receipe-utensil h2{
    margin-bottom: 1em;
}

.checkbox-content {
    display: flex;
}

.checkbox-box {
    display: flex;
    font-size: 1em;
}

.checkbox-box input, input[type="radio"]{
    height: 3.5vh;
    width: 3.5vw;
}

select {
    height: 5vh;

    border: none;
    border-bottom: 0.01em solid #FFFFFF;
    color: #FFFFFF;
    font-size: 0.8em;
    background-color: #101010;
}

.input-form-type {
    margin-left: 1em;
}

.input-image {
    margin: 5vh 0;
    font-size: 0.8em;
    border: 1px solid #FFFFFF;

    width: 40vw;
    padding: 1em;

    display: flex;
    flex-direction: column;
}

.input-image label {
    color: rgb(194, 26, 11) !important;
}

/* Green button - add && Red button - remove */
.remove, .add {
    position: absolute;
    bottom: 1vh;
    right: 0.5vw;

    display: flex;
    align-items: center;
    justify-content: center;

    outline: none;
    border: none;
    border-radius: 25px;

    height: 5vh;
    width: 2.5vw;

    color: #FFFFFF;
    transition: .5s;
}

.add {
    position: relative;
    background-color: #158046;
}

#insert-ingredient {
    left: 17vw;
    top: -6vh;
}

.add:hover{
	opacity: 0.7;
}

#insert-step {
    margin-top: 1em;
    margin-left: auto;
}

.remove {
    background-color: rgb(194, 26, 11);
}

/* ADD List */
.ingredient-list {
    width: 60vw;
    padding-inline-start: 0;
    margin-top: 0.5em;
    display: flex;
    border-bottom: 0.02em solid #FFFFFF;
}
.ingredient-list li{
    position: relative;
    width: 20vw;
    color: #FFFFFF;
    font-size: 0.8em;
    font-weight: bold;
}

/* Textarea last tab class */
.step-info, textarea:focus, textarea:hover {
    margin: 0.8em 0;
    resize: none;
    height: 20vh !important;
    width: 62vw;
    max-width: 62vw;
    padding: 0.8em;

    text-align: left;
    border: 0.1em solid #FFFFFF;
    background-color: transparent;
}

.step-item {
    position: relative;
    margin-top: 1em;
}

.remove-step{
    top: 12vh;
    right: -3.5vw;
}

/* Previous/next button */
.btn-form-box {
    margin: 1.5em;
    display: flex;
    justify-content: space-between;
}

.btn-form {
    padding: 0.5em;
    font-size: 0.8em;
    color: #FFFFFF;
    background-color:rgb(194, 26, 11);
    border: none;
}