#favoritar {
	width: 40px;
	height: 40px;
	background-color: transparent;
}

#div-titulo-receita {
	width: 20vw;
	
	font-family: Roboto;
	font-size: 2rem;
	text-align: center;
	color: #FFFFFF;
	
	background: #CE2421;
	border-radius: 35px;
}

#imagemReceita {
	width: 26vw;
	height: auto;
	
	filter: drop-shadow(7px 9px 4px rgba(0, 0, 0, 0.3));
	border-radius: 5px;
}

#informacoes-receita {
	background: #CE2421;
	border-radius: 35px;
}

.custom-pl {
	padding-left: 0;
}

.line {
	border-left: 2px solid #101010;
	height: 6rem;
}

.icon-informacoes {
	width: 2.4vw;
}

.icon-informacoes-user {
	width: 1.9vw;
}

.text-informacoes {
	font-weight: 600;
	font-size: 0.9rem;
	color: #FFFFFF;
}

.text-informacoes-dados {
	color: #101010;
}

.como-fazer {
	height: auto;

	background:rgba(255,255,255, 0.4);
	border-radius: 35px;
}

.icon-descricao {
	width: 47px;
	height: 47px;
}

.descricao-como-fazer {
	font-weight: 600;
	font-size: 2rem;
	color: #101010;
}

.list-como-fazer {
	list-style-type: disc;
	font-family: Roboto;
	font-weight: 600;
	font-size: 1rem;
	color: #101010;
}