#favoritar {
	width: 40px;
	height: 40px;
}

#titulo-receita {
	width: 40%;
	
	font-family: Roboto;
	font-size: 36px;
	text-align: center;
	color: #FFFFFF;
	
	background: #CE2421;
	border-radius: 35px;
}

#imagem-receita {
	width: 500px;
	height: 350px;
	
	filter: drop-shadow(7px 9px 4px rgba(0, 0, 0, 0.3));
	border-radius: 5px;
}

#informacoes-receita {
	width: 25em;
	height: 4.5em;
	margin-right: 10px;
	background: #CE2421;
	border-radius: 35px;
}

.icon-informacoes {
	width: 50px;
}

.icon-informacoes-user {
	width: 40px;
}

.text-informacoes {
	font-family: Roboto;
	font-weight: 700;
	font-size: 15px;
	text-align: center;
	color: #FFFFFF;
}

.text-informacoes-dados {
	color: #101010;
}