#favoritar {
	width: 40px;
	height: 40px;
	background-color: transparent;
}

#div-titulo-receita {
	width: 35%;
	
	font-family: Roboto;
	font-size: 36px;
	text-align: center;
	color: #FFFFFF;
	
	background: #CE2421;
	border-radius: 35px;
}

#imagemReceita {
	width: 45%;
	height: 85%;
	
	filter: drop-shadow(7px 9px 4px rgba(0, 0, 0, 0.3));
	border-radius: 5px;
}

#informacoes-receita {
	width: 44%;
	height: 7em;
	background: #CE2421;
	border-radius: 35px;
}

.custom-pl {
	padding-left: 0;
}

.line {
	border-left: 2px solid #101010;
	height: 95px;
}

.icon-informacoes {
	width: 45px;
}

.icon-informacoes-user {
	width: 35px;
}

.text-informacoes {
	font-family: Roboto;
	font-weight: 600;
	font-size: 15px;
	color: #FFFFFF;
}

.text-informacoes-dados {
	color: #101010;
}