* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #000 !important;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
    font-weight: 50;
    margin: 1rem 0 3rem;
    text-align: center;
    color: #fff;
    font-family: "Hind", sans-serif;
}

h2 {
    color: #fff;
    font-family: "Hind", sans-serif;
    text-align: center;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

.form-group {
    width: 92vw;
}

.styling {
    font-weight: 800;
    color: rgb(194, 26, 11);
    text-transform: uppercase;
}

.input {
    padding: 0.5 rem 1 rem;
    padding-left: 1rem;
    height: 50px;
    /*mudar*/
    display: flex;
    outline: none;
    border: none;
    background-color: #fff;
    width: 350px;
    /*mudar*/
    margin: auto;
    border-radius: 25px;
    font-size: 1.15rem;
    transition: 0.5s;
    text-align: left;
}

.input_senha {
    box-sizing: border-box;
}

#input_senha img {
    cursor: pointer;
}

.btnentrar {
    padding: 10px 20px;
    height: 50px;
    width: 350px;
    /*mudar*/
    border: 0;
    background: rgb(194, 26, 11);
    font-weight: bold;
    font-size: 1.15rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 25px;
    color: #fff;
}

.btncadastrar {
    padding: 10px 20px;
    width: 350px;
    /*mudar*/
    border: 0;
    background: rgb(194, 26, 11);
    font-weight: bold;
    font-size: 1.15rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 25px;
    color: #fff;
}

.btnenviar {
    padding: 10px 20px;
    width: 350px;
    /*mudar*/
    border: 0;
    background: rgb(194, 26, 11);
    font-size: 1.15rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 25px;
    color: #fff;
}

.btnsalvarsenha {
    padding: 10px 20px;
    width: 350px;
    /*mudar*/
    border: 0;
    background: rgb(194, 26, 11);
    font-size: 1.15rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 25px;
    color: #fff;
}

.btnsalvardados {
    padding: 10px 20px;
    width: 350px;
    /*mudar*/
    border: 0;
    background: rgb(194, 26, 11);
    font-size: 1.15rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 25px;
    color: #fff;
}