.styling {
    font-weight: 50;
    color: rgb(194, 26, 11);
    text-transform: uppercase;
    font-family: "Hind", sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 50;
    color: #fff;
    font-family: "Hind", sans-serif;
}

h2 {
    color: #fff;
}

h4 {
    color: rgb(194, 26, 11);
}

a:link,
a:visited {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
    color: #f00;
}

a ::after {
    color: red;
}

a:active {
    text-decoration: none;
    color: #000;
}

.hero {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../img/fundo.jpg);
    background-position: center;
    background-size: cover;
    max-height: 100vh;
    overflow-y: scroll;
}

#logo {
    width: 200px;
    /*mudar*/
    margin: 10px 0px 10px 10px;
}

.nav-bar {
    position: absolute;
    width: 90vw;
    /*mudar*/
    margin-left: 80px;
    /*mudar*/
}

.nav-link {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-link ul {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link ul li {
    list-style: none;
}

.menu-btn {
    outline: none !important;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
}

.menu-btn:hover {
    color: rgb(194, 26, 11);
}

.btn-vermelho {
    padding: 10px 20px;
    /*mudar*/
    border: 0;
    background: rgb(194, 26, 11);
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    color: #fff;
}

.nav-link .btn-vermelho {
    float: right;
}
.nav-link-usuario{
    display: flex;
    align-items: center;
    width: 100%;
    float: right;
    color: red;
}

.banner-title {
    margin-left: 80px;
    /*mudar*/
    color: #fff;
}

.banner-title h1 {
    font-size: 64px;
    margin-bottom: 30px;
    /*mudar*/
}

.banner-title h1 span {
    color: rgb(194, 26, 11);
}

.search-icon {
    height: 60%;
    width: 80px;
    /*mudar*/
}

.search-icon .fa {
    margin: 45px 23px;
    /*mudar*/
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.search-icon li {
    margin: 45px 23px 45px 23px;
    /*mudar*/
    display: block;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
    list-style: none;
    text-align: center;
}

.search-icon ul a {
    color: #fff;
    text-decoration: none;
    font-size: 11px;
}

.search-icon ul li :after {
    content: " ";
    width: 100%;
    height: 2px;
    display: block;
    margin: auto;
    background: red;
}

.social-icons {
    height: 35%;
    width: 80px;
    /*mudar*/
    background: rgb(194, 26, 11);
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}

.social-icons .fa {
    margin: 15px 23px;
    /*mudar*/
    display: block;
    padding: 8px;
    /*mudar*/
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    color: #000;
}

.social-icons .fa {
    margin: 15px 23px;
    /*mudar*/
    display: block;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    color: #000;
}

.icon-social {
    padding-top: 0.5em;
}

.ume {
    font-size: 10px;
    transform: rotate(270deg);
}


/*PAGINA DE RECEITAS*/

.nomedareceita {
    font-size: 25px;
    text-align: center;
    padding: 60px 30px;
    /*mudar*/
    list-style: none;
    display: block;
    color: rgb(194, 26, 11);
    text-shadow: 2px 2px #000;
}

.descricao {
    color: rgb(194, 26, 11);
    margin-left: 30px;
    /*mudar*/
    margin-right: 20px;
    /*mudar*/
    font-size: 20px;
    text-shadow: 1px 1px #000;
}

.dificuldade {
    color: rgb(194, 26, 11);
    margin-left: 30px;
    /*mudar*/
    margin-right: 20px;
    /*mudar*/
    font-size: 20px;
    text-shadow: 1px 1px #000;
}

.tempo {
    color: rgb(194, 26, 11);
    margin-left: 30px;
    /*mudar*/
    margin-right: 20px;
    /*mudar*/
    font-size: 20px;
    text-shadow: 1px 1px #000;
}

.rendimento {
    color: rgb(194, 26, 11);
    margin-left: 30px;
    /*mudar*/
    margin-right: 20px;
    /*mudar*/
    font-size: 20px;
    text-shadow: 1px 1px #000;
}

.equipamentos {
    color: rgb(194, 26, 11);
    margin-left: 30px;
    /*mudar*/
    margin-right: 20px;
    /*mudar*/
    font-size: 20px;
    text-shadow: 1px 1px #000;
}

.ingredientes {
    color: rgb(194, 26, 11);
    margin-left: 30px;
    /*mudar*/
    margin-right: 20px;
    /*mudar*/
    font-size: 20px;
    text-shadow: 1px 1px #000;
}

.passos {
    color: rgb(194, 26, 11);
    margin-left: 30px;
    /*mudar*/
    margin-right: 20px;
    /*mudar*/
    font-size: 20px;
    text-shadow: 1px 1px #000;
}

.conteudo {
    font-size: 16px;
    text-align: left;
}

.opnioes {
    text-align: center;
    background: cornsilk;
    box-shadow: 4px 4px #ffcc99;
    text-shadow: 1px 1px #000;
    align-items: center;
    display: block;
    float: right;
    position: auto;
}


/*PAGINA DA GUIA*/

.guia {
    font-size: 25px;
    text-align: center;
    padding: 60px 30px;
    /*mudar*/
    list-style: none;
    display: block;
    color: rgb(194, 26, 11);
    background: #f6eedf;
    width: 550px;
    /*mudar*/
    border-radius: 8px;
    padding: 20px;
    /*mudar*/
    margin-top: 15px;
    /*mudar*/
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}


/*PAGINA DE INSCRICAO*/

form {
    font-size: 25px;
    max-width: 500px;
    /*mudar*/
    color: rgb(194, 26, 11);
    text-shadow: 1px 1px #000;
    align-items: right;
}

.oi {
    margin-bottom: 20px;
    /*mudar*/
    margin-left: 20px;
    /*mudar*/
    color: rgb(194, 26, 11);
    text-shadow: 5px 5px 5px black;
    text-shadow: 1px 1px #000;
}

input,
textarea {
    padding: 0.5 rem 1 rem;
    height: 50px;
    /*mudar*/
    outline: none;
    border: none;
    background-color: #fff;
    width: 350px;
    /*mudar*/
    margin: 0.25rem;
    border-radius: 25px;
    font-size: 1.15rem;
    transition: 0.5s;
    text-align: center;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    border-color: #000;
    background-color: rgb(194, 26, 11);
    color: black;
    font-weight: bold;
}

.submit input {
    padding: 10px 20px;
    /*mudar*/
    border: 0;
    background: rgb(194, 26, 11);
    font-weight: bold;
    cursor: poinxter;
}

textarea {
    width: 400px;
    /*mudar*/
    height: 120px;
    /*mudar*/
    line-height: 20px;
    /*mudar (n sei ao certo)*/
    max-width: 400px;
    /*mudar*/
}

form label {
    margin-left: 20px;
    /*mudar*/
    color: rgb(194, 26, 11);
    font-weight: bold;
    text-shadow: 1px 1px #000;
}

.cozinharinscrever {
    float: right;
}


/*APOS BUSCA DE RECEITAS*/

#boxdofiltro {
    padding: 10px 10px 10px 10px;
    /*mudar*/
    height: 50px;
    /*mudar*/
    outline: none;
    border: none;
    background-color: #fff;
    width: 250px;
    /*mudar*/
    margin: 1rem 1rem 1rem 9rem;
    border-radius: 25px;
    font-size: 1.15rem;
    transition: 0.5s;
    text-align: center;
    flex-direction: row;
}

.custom-container {
    display: block;
    position: relative;
    padding-left: 25px;
    /*mudar*/
    margin-bottom: 12px;
    /*mudar*/
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-container input:checked~.checkmark:after {
    display: block;
}

.custom-container .checkmark:after {
    left: 9px;
    /*mudar*/
    top: 5px;
    /*mudar*/
    width: 5px;
    /*mudar*/
    height: 10px;
    /*mudar*/
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#frame {
    width: 200px;
    /*mudar*/
    height: 100px;
    /*mudar*/
    background: white;
    margin: 5px 5px 5px 5px;
    /*mudar*/
    float: right;
    border-radius: 5px;
    text-align: center;
}


.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;

}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 4.5em;
  text-indent: 3.25em;
  margin-top: 7px;
  cursor: pointer;
  border-radius: 25px;
background-color: #fff;
color:#000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
        
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #fff;
  border-radius: 50%;

}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #000;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #158046;
}
.dropdown{
    position: relative;
  line-height: 4.5em;
  text-indent: 3.25em;
  margin-top: 7px;
  cursor: pointer;
  border-radius: 25px;
background-color: #fff;
color:#000;
}